html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

#page {
  margin: 0;
  padding: 0; }

#header {
  background-color: black;
  height: 24px;
  width: 100%;
  position: fixed;
  padding: 3px 0; }
  #header .headerProjectName {
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 24px;
    margin: 0 15px; }
  #header .logoutLink {
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: right;
    line-height: 24px;
    margin: 0 15px; }

#content {
  background-color: mediumpurple;
  height: calc(100% - 35px);
  padding-top: 35px; }

#dashboard {
  width: 95%;
  height: 80%;
  background-color: black;
  border: 1px solid #3a1637;
  margin: 10px auto; }
  #dashboard #sidebar {
    width: 20%;
    height: calc(100% - 2px);
    background-color: black;
    border: 1px solid #3a1637;
    float: left; }
    #dashboard #sidebar .sidebarItem {
      width: calc(100% - 2px);
      height: 25px;
      padding: 5px 0;
      background-color: black;
      color: white;
      border: 1px solid #4b3c48;
      text-align: center;
      overflow: hidden; }
    #dashboard #sidebar .sidebarItem:hover {
      background-color: #b8afaf; }
    #dashboard #sidebar .sidebarSpan {
      color: white;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      line-height: 25px; }
    #dashboard #sidebar .selectedSidebarItem {
      background-color: #4b3c48; }
  #dashboard #dashboardPage {
    width: calc(80% - 4px);
    height: calc(100% - 2px);
    margin: 1px 0 0 1px;
    background-color: #4b3c48;
    float: left; }
  #dashboard .selectedDashboardPage {
    padding: 10px;
    /*
    Scroll-bar borrowed from https://codepen.io/GhostRider/pen/GHaFw
    */ }
    #dashboard .selectedDashboardPage h1 {
      margin: 0 0 5px 0;
      max-height: 20%;
      color: white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    #dashboard .selectedDashboardPage #welcomeContainer {
      width: 90%;
      margin: 0 auto;
      height: 80%;
      background-color: black;
      border-radius: 5px; }
    #dashboard .selectedDashboardPage #addDataContainer {
      width: 90%;
      margin: 0 auto;
      height: 80%;
      background-color: pink;
      border-radius: 5px; }
      #dashboard .selectedDashboardPage #addDataContainer #addDataSubheading {
        line-height: 20px;
        margin: 10px;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
      #dashboard .selectedDashboardPage #addDataContainer #datasetNameLabel {
        margin: 10px;
        float: left;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold; }
      #dashboard .selectedDashboardPage #addDataContainer #datasetName {
        margin: 10px;
        float: left;
        clear: right; }
      #dashboard .selectedDashboardPage #addDataContainer #csvUploadContainer {
        overflow: hidden;
        position: relative;
        margin: 10px;
        background: orange;
        border-radius: 5px;
        float: left;
        height: 20px;
        padding: 5px;
        clear: both; }
      #dashboard .selectedDashboardPage #addDataContainer .uploadedCSV {
        background: greenyellow !important; }
      #dashboard .selectedDashboardPage #addDataContainer #csvUploadIcon {
        width: 20px;
        height: 20px; }
      #dashboard .selectedDashboardPage #addDataContainer #csvUploadSpan {
        margin: 5px 0;
        line-height: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
      #dashboard .selectedDashboardPage #addDataContainer #csvUpload {
        cursor: pointer;
        display: block;
        font-size: 999px;
        filter: alpha(opacity=0);
        min-height: 100%;
        min-width: 100%;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0; }
      #dashboard .selectedDashboardPage #addDataContainer #csvButton {
        margin: 10px;
        float: left;
        clear: both; }
    #dashboard .selectedDashboardPage #datasetListContainer {
      width: 90%;
      margin: 0 auto;
      height: 80%;
      border-radius: 5px;
      overflow: scroll;
      background-color: pink; }
      #dashboard .selectedDashboardPage #datasetListContainer #datasetViewContainer #datasetViewHeader {
        min-width: calc(100% - 20px);
        height: 25px;
        background-color: pink;
        overflow: hidden;
        line-height: 25px;
        padding: 10px; }
        #dashboard .selectedDashboardPage #datasetListContainer #datasetViewContainer #datasetViewHeader #datasetViewName {
          color: white;
          margin: 0;
          width: 50%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          float: left; }
        #dashboard .selectedDashboardPage #datasetListContainer #datasetViewContainer #datasetViewHeader #unviewDatasetButton {
          float: left; }
      #dashboard .selectedDashboardPage #datasetListContainer #datasetViewContainer .datasetViewListItem {
        min-width: 100%;
        height: 35px;
        background-color: pink;
        line-height: 15px;
        white-space: nowrap; }
      #dashboard .selectedDashboardPage #datasetListContainer #datasetViewContainer .datasetColumnBox {
        font-weight: bold; }
      #dashboard .selectedDashboardPage #datasetListContainer #datasetViewContainer .datasetItemBox {
        width: 30%;
        height: 28px;
        border: 1px solid black;
        display: inline-block;
        overflow: hidden;
        line-height: 25px;
        padding: 5px; }
      #dashboard .selectedDashboardPage #datasetListContainer .datasetListItem {
        width: 100%;
        height: 35px;
        border-bottom: 2px solid black;
        background-color: pink;
        overflow: hidden;
        line-height: 15px; }
        #dashboard .selectedDashboardPage #datasetListContainer .datasetListItem .datasetListItemSpan {
          float: left;
          margin: 10px 10px; }
        #dashboard .selectedDashboardPage #datasetListContainer .datasetListItem .datasetListItemLink {
          color: #59c4ee;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
        #dashboard .selectedDashboardPage #datasetListContainer .datasetListItem .datasetListItemLink:hover {
          color: #d16d9f;
          cursor: pointer; }
    #dashboard .selectedDashboardPage #datasetListContainer::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #0e0a0a; }
    #dashboard .selectedDashboardPage #datasetListContainer::-webkit-scrollbar {
      width: 6px;
      background-color: #0e0a0a; }
    #dashboard .selectedDashboardPage #datasetListContainer::-webkit-scrollbar-thumb {
      background-color: #d16d9f; }
    #dashboard .selectedDashboardPage #analyticsContainer {
      width: 90%;
      margin: 0 auto;
      height: 80%;
      background-color: black;
      border-radius: 5px; }

#footer {
  background-color: black;
  min-height: 30px;
  width: 100%;
  position: fixed;
  top: calc(100% - 30px); }
