$appWidth: 200px;
$italicColor: slategrey;

@function calcDivMargin($width) {
  @return $width / 4;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#page {
  margin: 0;
  padding: 0;
}

#header {
  background-color: black;
  height: 24px;
  width: 100%;
  position: fixed;
  padding: 3px 0;

  .headerProjectName {
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 24px;
    margin: 0 15px;
  }

  .logoutLink {
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: right;
    line-height: 24px;
    margin: 0 15px;
  }
}

#content {
  background-color: mediumpurple;
  height: calc(100% - 35px);
  padding-top: 35px;
}

#dashboard {
  width: 95%;
  height: 80%;
  background-color: black;
  border: 1px solid rgb(58, 22, 55);  
  margin: 10px auto; 

  #sidebar {
    width: 20%;
    height: calc(100% - 2px);
    background-color: black;
    border: 1px solid rgb(58, 22, 55);
    float: left;

    .sidebarItem {
      width: calc(100% - 2px);
      height: 25px;
      padding: 5px 0;
      background-color: black;
      color: white;
      border: 1px solid rgb(75, 60, 72);
      text-align: center;
      overflow: hidden;
    }

    .sidebarItem:hover {
      background-color: rgb(184, 175, 175);
    }

    .sidebarSpan {
      color: white;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      line-height: 25px;
    }

    .selectedSidebarItem {
      background-color: rgb(75, 60, 72);
    }
  }

  #dashboardPage {
    width: calc(80% - 4px);
    height: calc(100% - 2px);
    margin: 1px 0 0 1px;
    background-color: rgb(75, 60, 72);
    float: left;
  }

  .selectedDashboardPage {
    padding: 10px;

    h1 {
      margin: 0 0 5px 0;
      max-height: 20%;
      color: white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    #welcomeContainer {
      width: calc(90% - 30px);
      margin: 0 auto;
      padding: 15px;
      height: calc(80% - 30px);
      border-radius: 5px;
      background-color: pink;

      #welcomeSubheading {
        color: white;
        margin: 0;
      }

      #welcomeDesc {
        color: white;
      }
    }

    #addDataContainer {
      width: calc(90% - 30px);
      margin: 0 auto;
      height: calc(80% - 30px);
      padding: 15px;
      background-color: pink;
      border-radius: 5px;

      #addDataSubheading {
        color: white;
        margin: 0 0 5px 0;
      }

      #datasetNameLabel {
        float: left;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
      }

      #datasetName {
        float: left;
        margin-left: 15px;
        clear: right;
      }

      #csvUploadContainer {
        overflow: hidden;
        position: relative;

        background-color: rgb(113, 224, 224);
        border: 5px dashed rgb(0, 148, 197);
        float: left;
        text-align: center;

        width: calc(100% - 10px);
        height: 20px;
        padding: 50px 0;
        line-height: 30px;

        border-radius: 5px;
        margin-top: 20px;

        clear: both;
      }

      #csvUploadContainer:hover {
        border: 5px dashed rgb(0, 197, 99);
      }

      .uploadedCSV {
        background: greenyellow !important;
      }

      #csvUploadIcon {
        width: 20px;
        height: 20px;
      }

      #csvUploadSpan {
        margin: 5px 0;
        line-height: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      #csvUpload {
        cursor: pointer;
        display: block;
        font-size: 999px;
        filter: alpha(opacity=0);
        min-height: 100%;
        min-width: 100%;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
      }

      #csvButton {
        margin: 10px;
        float: left;
        clear: both;
      }

      #statusBoxContainer {
        width: 100%;
        height: 40px;
        float: left;

        .addStatusBox {
          width: calc(100% - 10px);
          height: 30px;
          line-height: 30px;
          padding: 5px;
          border-radius: 5px;
        }
  
        .successAdd {
          background-color: lightgreen;
        }
  
        .errorAdd {
          background-color: red;
        }
      }
    }

    #datasetListContainer {
      width: 90%;
      margin: 0 auto;
      height: 80%;
      border-radius: 5px;
      overflow: scroll;
      background-color: pink;

      #datasetListView {
        width: 100%;
        height: 100%;
      }

      #noDatasetsContainer {
        width: 100%;
        height: 100%;
        margin: 0;

        #noDatasetsMessage {
          margin: 0;
          padding-top: 20%;
          text-align: center;
          color: white;
        }
      }

      #datasetViewContainer {
        #datasetViewHeader {
          min-width: calc(100% - 20px);
          height: 25px;
          background-color: pink;
          overflow: hidden;
          line-height: 25px;
          padding: 10px;

          #datasetViewName {
            color: white;
            margin: 0;
            width: 30%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            float: left;
          }

          #datasetViewButton {
            float: left;
            margin-left: 5px;
          }
        }

        .datasetViewListItem {
          min-width: 100%;
          height: 35px;
          background-color: pink;
          line-height: 15px;
          white-space: nowrap;
        }

        .datasetNumBox {
          width: 30px;
          height: 28px;
          border: 1px solid black;
          background-color: pink;
          display: inline-block;
          overflow: hidden;
          padding: 5px 0;
          line-height: 28px;
          text-align: center;
        }

        .submitEntryBox {
          width: 30px;
          height: 28px;
          border: 1px solid black;
          background-color: rgb(192, 255, 192);
          display: inline-block;
          overflow: hidden;
          padding: 5px 0;
          line-height: 28px;
          text-align: center;
          user-select: none;
        }

        .submitEntryBox:hover {
          background-color: greenyellow;
        }

        .submitEntryBox:active {
          background-color: rgb(37, 224, 84);
        }

        .removeDatasetItemBox {
          width: 30px;
          height: 28px;
          border: 1px solid black;
          background-color: red;
          display: inline-block;
          overflow: hidden;
          padding: 5px 0;
          line-height: 28px;
          text-align: center;
          user-select: none;
        }

        .datasetColumnBox {
          font-weight: bold;
        }

        .datasetColumnInput {
          height: 28px;
        }

        .datasetItemBox {
          width: 30%;
          height: 28px;
          border: 1px solid black;
          display: inline-block;
          overflow: hidden;
          line-height: 25px;
          padding: 5px;
        }
      }

      .datasetListItem {
        width: 100%;
        height: 35px;
        border-bottom: 2px solid black;
        background-color: pink;
        overflow: hidden;
        line-height: 15px;

        .datasetListItemName {
          width: 30%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .datasetListItemSpan {
          float: left;
          margin: 10px 10px;
        }

        .datasetListItemDate {
          width: 200px;
        }

        .vlIcon {
          width: 15px;
          height: 15px;

          path {
            fill: rgb(89, 196, 238);
          }
        }

        .vlIcon:hover {
          cursor: pointer;

          path {
            fill: #d16d9f;
          }
        }
      }
    }

    /*
    Scroll-bar borrowed from https://codepen.io/GhostRider/pen/GHaFw
    */
    #datasetListContainer::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: rgb(14, 10, 10);
    }

    #datasetListContainer::-webkit-scrollbar {
      width: 6px;
      background-color: rgb(14, 10, 10);
    }

    #datasetListContainer::-webkit-scrollbar-thumb {
      background-color: #d16d9f;
    }

    #analyticsContainer {
      width: calc(90% - 30px);
      margin: 0 auto;
      padding: 15px;
      height: calc(80% - 30px);
      border-radius: 5px;
      background-color: pink;

      #analyticsSubheading {
        color: white;
        margin: 0;
      }

      #analyticsDesc {
        color: white;
      }
    }
  }
}

#footer {
  background-color: black;
  min-height: 30px;
  width: 100%;
  position: fixed;
  top: calc(100% - 30px);
}
