$appWidth: 200px;
$italicColor: slategrey;

@function calcDivMargin($width) {
  @return $width / 4;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#page {
  margin: 0;
  padding: 0;
}

#header {
  background-color: black;
  height: 24px;
  width: 100%;
  position: fixed;
  padding: 3px 0;

  .headerProjectName {
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 24px;
    margin: 0 15px;
  }

  .logoutLink {
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: right;
    line-height: 24px;
    margin: 0 15px;
  }
}

#content {
  background-color: mediumpurple;
  height: calc(100% - 35px);
  padding-top: 35px;
}

#dashboard {
  width: 95%;
  height: 80%;
  background-color: black;
  border: 1px solid rgb(58, 22, 55);  
  margin: 10px auto; 

  #sidebar {
    width: 20%;
    height: calc(100% - 2px);
    background-color: black;
    border: 1px solid rgb(58, 22, 55);
    float: left;

    .sidebarItem {
      width: calc(100% - 2px);
      height: 25px;
      padding: 5px 0;
      background-color: black;
      color: white;
      border: 1px solid rgb(75, 60, 72);
      text-align: center;
      overflow: hidden;
    }

    .sidebarItem:hover {
      background-color: rgb(184, 175, 175);
    }

    .sidebarSpan {
      color: white;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      line-height: 25px;
    }

    .selectedSidebarItem {
      background-color: rgb(75, 60, 72);
    }
  }

  #dashboardPage {
    width: calc(80% - 4px);
    height: calc(100% - 2px);
    margin: 1px 0 0 1px;
    background-color: rgb(75, 60, 72);
    float: left;
  }

  .selectedDashboardPage {
    padding: 10px;

    h1 {
      margin: 0 0 5px 0;
      max-height: 20%;
      color: white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    #welcomeContainer {
      width: 90%;
      margin: 0 auto;
      height: 80%;
      background-color: rgb(0, 0, 0);
      border-radius: 5px;
    }

    #addDataContainer {
      width: 90%;
      margin: 0 auto;
      height: 80%;
      background-color: rgb(0, 0, 0);
      border-radius: 5px;

      #addDataSubheading {
        line-height: 20px;
        margin: 10px;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }

      #datasetNameLabel {
        margin: 10px;
        float: left;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
      }

      #datasetName {
        margin: 10px;
        float: left;
        clear: right;
      }

      #csvUploadContainer {
        overflow: hidden;
        position: relative;
        margin: 10px;

        background: greenyellow;
        border-radius: 5px;
        float: left;

        height: 20px;
        padding: 5px;

        clear: both;
      }

      #csvUploadIcon {
        width: 20px;
        height: 20px;
      }

      #csvUploadSpan {
        margin: 5px 0;
        line-height: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

      #csvUpload {
        cursor: pointer;
        display: block;
        font-size: 999px;
        filter: alpha(opacity=0);
        min-height: 100%;
        min-width: 100%;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
      }

      #csvButton {
        margin: 10px;
        float: left;
        clear: both;
      }
    }

    #datasetListContainer {
      width: 90%;
      margin: 0 auto;
      height: 80%;
      background-color: rgb(0, 0, 0);
      border-radius: 5px;
      overflow-y: scroll;

      .datasetListItem {
        width: 100%;
        height: 35px;
        border-bottom: 2px solid black;
        background-color: pink;
        overflow: hidden;
        line-height: 15px;

        .datasetListItemSpan {
          float: left;
          margin: 10px 10px;
        }

        .datasetListItemLink {
          color: rgb(89, 196, 238);
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .datasetListItemLink:hover {
          color: #d16d9f;
          cursor: pointer;
        }
      }
    }

    /*
    Scroll-bar borrowed from https://codepen.io/GhostRider/pen/GHaFw
    */
    #datasetListContainer::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: rgb(14, 10, 10);
    }

    #datasetListContainer::-webkit-scrollbar {
      width: 6px;
      background-color: rgb(14, 10, 10);
    }

    #datasetListContainer::-webkit-scrollbar-thumb {
      background-color: #d16d9f;
    }

    #analyticsContainer {
      width: 90%;
      margin: 0 auto;
      height: 80%;
      background-color: rgb(0, 0, 0);
      border-radius: 5px;
    }
  }
}

#footer {
  background-color: black;
  min-height: 30px;
  width: 100%;
  position: fixed;
  top: calc(100% - 30px);
}
